@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d4cfd2 url(../img/octocat2.svg) center no-repeat;
  background-position:center -25%;
  background-size: 150%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
header {
  padding: 40px;
}
.select {
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.05) inset;
}
.card__section {
  position: absolute;
  width: 250px;
  margin-top: 130px;
}
.adalaber__photo {
  width: 100%;
  margin-bottom: -5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.adalaber__info {
  background-color: #ececed;
  padding: 10px 40px;
}
.adalaber__info span {
  color: #c3bec1;
  font-size: 14px;
}
.adalaber__info h2 {
  color: #12c7b4;
  font-size: 22px;
  line-height: 35px;
}
.adalaber__info p {
  font-weight: bold;
  font-size: 14px;
  color: #5b5e5e;
  line-height: 35px;
}
.fas {
  padding-right: 5px;;
  color: #0eb7a5;
}
.repos {
  background: -webkit-gradient(linear, left top, left bottom, from(#0aa292), to(#13d4bf));
  background: linear-gradient(to bottom, #0aa292 0%, #13d4bf 100%);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.repos__info span {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}
.repos__info p {
  font-size: 16px;
}
.member__data {
  font-size: 14px;
  padding: 7px;
  color: #5b5e5e;
  display: flex;
  justify-content: flex-end;
}
footer {
  position: absolute;
  bottom: 0;
  right: 5%;
  margin-bottom: 10px;
}
@media all and (min-width: 400px) {
  body {
    background-size: 115%;
  }
}
@media all and (min-width: 500px) {
  .card__section {
    width: 350px;
  }
}
@media all and (min-width: 600px) {
  body {
    background-size: 85%;
  }
}
@media all and (min-width: 800px) {
  body {
    background-size: 50%;
  }
}
@media all and (min-width: 1000px) {
  body {
    background-size: 30%;
  }
}
